## .NET / C#
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

## ASP.NET Core
**/appsettings.Development.json
**/appsettings.Production.json

## NuGet
*.nupkg
*.snupkg
project.lock.json
packages/
!**/[Pp]ackages/build/

## Rider / JetBrains
.idea/
*.sln.iml

## Visual Studio Code
.vscode/

## OS
Thumbs.db
.DS_Store

## Docker
docker-compose.override.yml

## Logs & temp
*.log
*.tmp
